.open-sans-inter {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 200;
  color: #4F46E5;
}

.open-sans-raleway {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "width" 100;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
  align-items: center;
}

.header {
  background-image: url(../Assets/Hero-bg.png);
  height: 500px;
}

.banner-content {
  font-size: 36px;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
  max-width: 1000px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.button {
  display: inline-block;
  background-color: #4F46E5;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.bellow-banner {
  display: flex;
  justify-content: space-between;
  padding: 70px 100px;
  align-items: center;
}

.bellow-banner-img {
  border-radius: 48px;
}

.ash {
  color: #9CA3AF;
}

.statistics {
  background-color: #e4e6FF;
  border-radius: 24px;
  padding: 40px;
  text-align: center;
  margin: 70px auto;
  width: 80%; 
  height: 206px;
}


.statistics h2 {
  color: #252432;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.stat h3 {
  color: #4F46E5;
  font-size: 80px;
  margin: 0;
  font-weight: 700;
}

.stat p {
  color: #6b7280;
  font-size: 20px;
  margin-top: 8px;
}

















